
*.parquet

.Rproj.user/
*.pper
.Rproj.user/61CF5025/sources/prop/11339BF8
.Rproj.user/61CF5025/sources/prop/15F947BD
.Rproj.user/61CF5025/sources/prop/282E266A
.Rproj.user/61CF5025/sources/prop/37ED6164
.Rproj.user/61CF5025/sources/prop/412A7156
